gevent
ProxyTypes
nose
feedparser~=5.2.1
Flask-Cors
redis~=3.5.3
msgpack-python~=0.5.6
python-dateutil~=2.8.1
gunicorn
bugsnag~=3.6.1
blinker
setuptools~=47.3.1
Flask~=1.1.2
msgpack~=1.0.0
Werkzeug~=1.0.1